<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>Online book-reader</title> 
{% load staticfiles %}
<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"> 
<link rel="stylesheet" href="/static/css/main.css" type="text/css"> 
<!--<link href="css/bootstrap.css" rel="stylesheet"> 
<link href="css/main.min.css" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Calligraffitti|Marck+Script|Montez" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/main.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script> 
</head> 
<body class="main-body"> 
  <div class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="100">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle plus collapsed" data-toggle="collapse" data-target="#responsive-menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="{% url 'index' %}"><img src="/static/bliss-images/books.png" id="logo-img"><span id="logo-text">bliss</span></a>
        </div>
        <div class="collapse navbar-collapse" id="responsive-menu">
          <ul class="nav navbar-nav navbar-right">
            <li class="tabs"><a href="{% url 'index' %}">HOME</a></li>
            <li class="dropdown tabs"><a href="#" class="dropdown-toggle" data-toggle="dropdown">BROWSE <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-2">
            <div class="row">
            {% for genre in genres %}
              <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                  <li><a href="{% url 'genredetail' pk=genre.pk %}" class="genres">{{ genre.genre }}</a></li>
                </ul>
              </div>
            {% endfor %}
            </div>  
            </ul></li>
            <li class="tabs"><a href="{% url 'blog' %}">BLOG</a></li>
            <li class="tabs"><a href="{% url 'contacts' %}">CONTACTS</a></li>
            {% if user.is_authenticated %}
            <li class="tabs"><a href="{% url 'logout' %}">LOG OUT</a></li>
            <li class="tabs"><a href="{% url 'user' %}">ME</a></li>
            {% else %}
            <li class="tabs"><a href="{% url 'login' %}">LOG IN</a></li>
            {% endif %}
    </ul>
</div>
        </div>
      </div>
      <!--<div id="modal" class="modal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="container sign-in-tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
    <li><a data-toggle="tab" href="#register">Register</a></li>
  </ul>

  <div class="tab-content">
    <div id="login" class="tab-pane fade in active">
      <form class="login">               
                <img src="/static/bliss-images/user.png"><input type="text" name="username" placeholder="Username" class="inputs" id="username">
                <br>
                <img src="/static/bliss-images/key.png"><input type="password" name="password" placeholder="Password" class="inputs" id="password">
                <br>
                <button type="button" id="signin-btn" class="btn" onclick="validate()">Sign in</button>
                </form>
    </div>
    <div id="register" class="tab-pane fade">
    <form class="register">
      <span class="required-username">Username</span>
      <br>
      <input type="text" class="registration-inp inp1" id="user" data-toggle="tooltip" data-placement="auto right" title="Username must contain exactly one uppercase letter, exactly two digits and length must be at least 5.">
      <img src="check-mark.png" id="check-mark">
      <img src="cancel-mark.png" id="wrong-mark">
      <br>
      <span class="required-email">E-mail</span>
      <br>
      <input type="email" class="registration-inp inp2" id="e-mail" placeholder="user123@gmail.com">
      <img src="check-mark.png" id="check-mark1">
      <img src="cancel-mark.png" id="wrong-mark1">
      <br>
      <span class="required-password">Password</span>
      <br>
      <input type="password" class="registration-inp inp3" id="pass" data-toggle="tooltip" data-placement="auto right" title="Password can contain only letters and digits.">
      <img src="check-mark.png" id="check-mark2">
      <img src="cancel-mark.png" id="wrong-mark2">
      <br>
      <span class="required-confirm">Confirm password</span>
      <br>
      <input type="password" class="registration-inp inp4" id="confirm">
      <img src="check-mark.png" id="check-mark3">
      <img src="cancel-mark.png" id="wrong-mark3">
      <br>
      <button type="button" class="btn" id="register-btn" onclick="register()">Register</button>
    </form>
</div>
      </div>
        </div>
        </div>
      </div>
    </div>-->
          {% block content %}
          {% endblock %}
    <div class="container online-text">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="read-online">Read online on <span>bliss</span></p>
                <hr class="style18">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="bliss-text">
                  Bliss is a popular literary samizdat. In our electronic library you can read online books of popular genres. We have a mobile version of the site, so you can easily read books online from your phone or tablet. On samizdat you can read romance novels, fantasy, science fiction, female prose, etc. Our handy reader is designed for both windows, and for the android system, and for a regular computer. Our free e-book library is continuously updated with new works from popular authors and young talents. Are you interested in fanfics? Humor? Different genres of works? Then you came to the right place, because the best e-books are waiting for you here! 
                </p>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copyright">
                <p><span>2018</span> &copy; bliss</p>
              </div>
            </div>
</div>
</body> 
</html>