{% extends 'bliss/base.html' %}
{% block content %}
     <div class="container" style="margin-top: 170px; margin-bottom: 150px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 articles" style="margin-top: 30px;">
              <div class="card mb-3">
              <div class="card-body">
                <h4 class="card-title"><a href="{% url 'blogdetail' pk=blog.pk %}">{{ blog.title }}</a></h4>
                <p class="card-text">Author: {{ blog.author }}</p>
                <p class="card-text">{{ blog.text }}</p>
                <p class="card-text"><small class="text-muted"><span class="glyphicon glyphicon-calendar"></span>{{ blog.created_date }}</small>
                {% if user.is_authenticated %}
                <a href="{% url 'comment' pk=blog.pk %}" style="margin-left: 10px">
                <button style="border: none; background: none; margin-bottom: 10px"><img src="/static/bliss-images/comment.png"></button></a>
                {% ifequal blog.author request.user %}
                <a href="{% url 'deleteBlog' pk=blog.pk %}" style="margin-left: 10px">
                <button style="border: none; background: none;"><img src="/static/bliss-images/trash.png"></button></a>
                <a href="{% url 'blogedit' pk=blog.pk %}" style="margin-left: 10px">
                <button style="border: none; background: none;"><img src="/static/bliss-images/edit.png"></button></a>
                {% endifequal %}
                {% endif %}
                </p>
              <div class="container">
              {% for comment in blogcomment %}
<div class="row">
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="http://moziru.com/images/profile-clipart-end-user-20.png">
</div>                 
</div>
<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>{{ comment.author }}</strong> <span class="text-muted">{{ comment.created_date }}</span>
</div>
<div class="panel-body">{{ comment.text }}</div>
</div>
</div>
</div>
{% endfor %}
</div>
            </div>
            </div>
          </div>
    </div>
{% endblock %}